# Server & Domain Config
DIRECT_HOST=directDomain
INCOMMING_PORT=directPort
SSPANEL_DOMAIN=panelDomain
SSPANEL_PORT=panelPort

# Panel Security
ADMIN_USER=adminUser
ADMIN_PASSWORD=adminPassword
SESSION_COOKIE=vpn_cook_sess
SESSION_VALUE=sspanel_security_key_11

# Telegram Bot (Optional)
TELEGRAM_BOT_TOKEN=teleBotToken
TELEGRAM_ADMIN_ID=adminID

# Docker Networks
INTERNAL_NET=sec_vpn_web
WEBPANEL_NET=sspanel-web
